
.bod{
   
   color:black; 
   margin:10px;
   width:60%;
   padding:10px;
   border-radius: 50px;
   border:3px solid #f08080;
}
.my{
    text-align: center;
}
.li{
    text-decoration: none;
    color:white;
    display: block;
    background-color:#f08080;
    width:12%;
    padding:7px 9px;
    margin:0px auto;
}